body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
   margin: 0;
	background-color: #222; /* zmiana koloru tła na ciemniejszy */
	color: #fff; /* zmiana koloru czcionki */
}


h1,
h2,
h3,
a {
	color: #fff; /* zmiana koloru czcionki */
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.5em;
}

.logo a {
	margin-left: 30px;
   font-size: 26px;
   letter-spacing: 3px;
}
.logo2{
   position: absolute;
   top:50px;
   left: 130px;
   font-size: 13px;
   color: red;
}
.header {
	padding: 20px;
	border-bottom: 1px solid #444; /* zmiana koloru granicy */
	background-color: #111; /* zmiana koloru tła */
	display: flex;
	justify-content: space-between; /* ustawienie elementów w nagłówku na przeciwnych krańcach */
	align-items: center; /* wyśrodkowanie elementów w pionie */
}

.main-nav {
	display: flex;
}

.main-nav ul {
	display: flex;
}

.main-nav a {
	padding: 10px 15px;
	text-align: center;
   margin-right: 40px;
	color: #ccc; /* zmiana koloru czcionki */
}

.main-nav a:hover {
	color: #fff; /* zmiana koloru czcionki po najechaniu */
}

article {
   position: relative;
   top: 40px;
	min-height: 750px;
	background-color: #333; /* zmiana koloru tła */
	padding: 20px; 
   margin: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-image: url(background.jpg);
   background-position: 50%;
}
#user-icon{
   margin-left: 15px;
   position: relative;
   top: 7.5px;
   text-align: center;
   justify-content: center;
}
 .konto{
   position: relative;
   top: -5px;
}
.user-info {
   display: none;
   position: absolute;
   top: calc(100%);
   left: -80px;
   width: 220px;
   background-color: #383535;
   padding: 10px;
   border: 2px solid black;
   text-align: center;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   cursor: default;
}

.user-name{
   color: orange;
   position: relative;
   top: -5px;
   font-size: 17px;
   letter-spacing: 1px;
}
.username{
   position: relative;
   top: -10px;
}

hr{
   width: 70%;
   position: relative;
   top: -20px;
   margin-left: auto;
   margin-right: auto;
}
.logout{
   display: none;
   cursor: pointer;
   color: blueviolet;
   position: relative;
   top: -7.5px;
}
div.konto a{
   display: block;
}
.konto:hover .user-info, .konto:hover .logout{
   display: block !important;
   cursor: default;
}
.konto:hover .logout{
   cursor: pointer;
   color: blueviolet;
   text-decoration: underline;
}
.container{
   background-color: #222;
   margin-top: -20px;
   margin-bottom: -20px;
   padding:  50px 30px 10px 80px;
   min-height: 750px;
   width: 1350px;
   margin-left: auto;
   margin-right: auto;
   z-index: auto;

}
.container h1{
   text-align: center;
   font-size: 28px;
   margin-bottom: 30px;
   margin-right: 5px;
   margin-top: -40px;
}
.user-img{
   position: relative;
   top: 65px;
   left: 160px;
   border: 2px solid black;
   border-radius: 5px;
}
.nick{
   position: relative;
   top: -150px;
   left: 35px;
   color: orange;
   font-weight: bold;
   font-size: 18px;
}
.user-rank{
   color: white;
   font-size: 18px;
   position: relative;
   top: 110px;
   left: -15px;
}
#obstaw-form{
   width: 2000px;
   height: 1070px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   left: 19%;
}
select{
   background-color: rgba(27, 27, 27, 0.877);
   color: white;
   z-index: auto;
   width: 150px;
   height: 25px;
   text-align: center;
   margin: 15px 20px 0 115px;
   border-radius: 3px;
}
.mecz{
   font-weight: bold;
   font-size: 19px;
   color: orange;
}
.vs{
   color: white;
   font-weight: bold;
   font-size: 18px;
   margin: 0 30px 0 30px;
}
hr.line{
   color: gray;
   width: 110px;
   position: relative;
   left: 80px;
   top: 15px;
   float: left;
   
}
::placeholder{
   text-align: center;
   font-size: 15px;
}

input[type=text]{
   padding: 4px;
   text-align: center;
   border: 1PX SOLID BLACK;
   border-radius: 3px;
   font-size: 16px;
}
input[name=stawka]{
   position: relative;
   left: 310px;
   top: -20px;
   width: 200px;
   background-color: rgb(214, 212, 212);
   height: 30px;
   font-weight: bold;
   font-size: 20px;
   border-radius: 5px;
   border: 1px solid black;
   text-align: center;
}
label{
   position: relative;
   top: -18px;
   left: 320px;
   font-weight: bold;
   font-size: 19px;
}
input[value=Obstaw]{
   position: relative;
   top: 65px;
   background-color: rgb(204, 182, 182);
   left: 325px;
   font-weight: bold;
   letter-spacing: 1px;
   font-size: 16px;
   padding: 20px;
   width: 200px;
   border-radius: 10px;
}
input[value=Obstaw]:hover{
   background-color: rgba(156, 156, 243, 0.829);
   cursor: pointer;
}
.spotkania{
   position: relative;
   left: 35px;
   width: 200px;
   text-align: justify;
   top: 12.5px;
   float: left;
}
.spotkania2{
   float: left;
   text-align: justify;
   left: 10px;
   width: 200px;
   position: relative;
   margin-right: -150px;
   top: 10px;
}

.vs-div{
   float: left;
   position: relative;
   right: 40px;
   top: 12.5px;
}
